<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shid.swissaid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Util.Offline"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:appComponentFactory"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".UI.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".UI.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shid.swissaid.UI.HomeActivity" />
        </activity>
        <activity android:name=".UI.DraftActivity" />
        <activity android:name=".UI.GeolocationActivity" />
        <activity android:name=".UI.PdfUi.FormActivity" />
        <activity android:name=".UI.FullScreenImageActivity" />
        <activity
            android:name=".UI.MessageActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/icon" />

        <activity
            android:name=".UI.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.AllReportActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".UI.MyReportsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ChangePasswordActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.shid.swissaid.SETTING_START_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.ChangeNameActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.shid.swissaid.SETTING_START_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.LocationService"
            android:stopWithTask="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>